* {font-family: 'Noto sans TC'}
h1{ color: blue;font-size: 40px:}

.product{
    width: 31%;
    padding:10px;
    float: left;
    }

.thumbnail img{
    width:100%}

.product1{
    width: 31%;
    padding:10px;
    float: left;
    }

.thumbnail1 img{
    width:100%}S


.product.description p {
    color: purple ;
}